.container {
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  border-radius: 4px;
  margin: 50px auto;
}

.graphContainer {
  padding: 30px 50px 30px 20px;
  border: 1px solid darkgrey;
  display: flex;
}

.graph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 84px;
  width: 624px;
}

.dayRunner {
  margin: 26px 10px 0 0;
}

.monthRunner {
  width: 624px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.userInfoContainer {
  justify-content: left;
  display: flex;
  margin-bottom: 25px;
}

.userAvatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.userBasicInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userCity {
  font-size: 12px;
}
