.container {
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  border-radius: 4px;
  margin: 50px auto;
}

.graphContainer {
  padding: 30px 50px;
  border: 1px solid darkgrey;
}

.graph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 84px;
  width: 624px;
}

.monthRunner {
  width: 624px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
