body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-space-medium {
  margin-top: 50px;
}

.theme-color {
  color: #e34402 !important;
}

.align-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.ant-steps-item-custom.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: #e34402;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #e34402;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title:after {
  color: #e34402;
  background-color: #e34402;
}

.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background-color: #e34402;
  border-color: #e34402;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background-color: #d03d00;
  border-color: #d03d00;
}
